/* GENERAL CSS */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */


/* MAIN CONTAINER */


/* INFORMATION */


/* QUOTE */


/* BUTTON CONTAINER */


/* FOOTER */


